<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />

<style>
/* Set a background image by replacing the URL below */
body {
	background-image:
		url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.rgba-gradient {
	background: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%);
	background: -webkit-gradient(linear, 45deg, from(rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%));
	background: linear-gradient(to 45deg, rgba(0, 0, 0, 0.7),
		rgba(72, 15, 144, 0.4) 100%);
}
</style>

<body class="text-white bg-dark">
	<nav th:replace="fragments :: navigation"></nav>
	<div class="container" th:unless="${user}">
		<div
			class="row justify-content-center mt-5 align-items-center rgba-gradient"
			style="height: 60vh;">
			<div class="col-6">
				<h1 class="display-4">Deine Agenda</h1>
				<p class="lead">Keine Deadline mehr verpassen!</p>
				<hr class="my-4">
				<div>
					<p>
						Agenda ist eine einfache Verwaltung für Aufgaben in Kursen.
						Kursleiter*innen oder Teilnehmer*innen legen einmalig ein <i>Topic</i>
						für einen Kurs an und tragen zu erledigende Aufgaben (<i>Tasks</i>)
						ein. Teilnehmer*innen abonnieren das Topic und haben so ständig
						eine Übersicht über alle noch offenen Aufgaben.
					</p>
				</div>
			</div>
			<div class="col-4">
				<div class="container">
					<form class="form-signin" method="post" action="/login">
						<h2 class="form-signin-heading">Anmeldung:</h2>
						<p>
							<label for="username" class="sr-only">Username</label> <input
								type="text" id="username" name="username" class="form-control"
								placeholder="Username" required autofocus>
						</p>
						<p>
							<label for="password" class="sr-only">Passwort</label> <input
								type="password" id="password" name="password"
								class="form-control" placeholder="Password" required>
						</p>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="container" th:if="${user}">
		<div
			class="row justify-content-center mt-5 align-items-center rgba-gradient"
			style="height: 80vh;">
			<div class="col-6">
				<h1 class="display-4">
					Hallo <i th:text="${user.name}"></i>!
				</h1>
				<h3>Deine Topics:</h3>
				<div style="height: 52vh;" class="overflow-auto">
					<div class="col mb-4 border border-secondary"
						th:each="t : ${topics}">
						<div class="card-body">
							<h5 class="card-title" th:text="${t.title}">Card title</h5>
							<h6 class="card-subtitle mb-2 text-muted"
								th:text="'Von '+${t.creator.displayName}">Card subtitle</h6>
							<p>
								<small class="card-text" th:text="${t.shortDescription}">Keine
									Beschreibung</small>
							</p>
							<a th:href="'/topics/'+${t.uuid}"
								class="btn btn-sm btn-primary mr-2">Öffnen</a> <a
								th:href="'/topics/'+${t.uuid}+'/unregister'"
								class="btn btn-sm btn-outline-warning mr-2">Abo beenden</a> <small>Anzahl
								offener Tasks: <i th:text="${t.amountUnfinishedTasks}"></i>
							</small>

						</div>
					</div>
				</div>
			</div>
			<div class="col-4">
				<div class="container">
					<form th:object="${registration}" th:action="@{/register}"
						method="post">
						<h3 class="form-signin-heading">Direkteinstieg zum Topic:</h3>
						<div class="form-row">
							<div class="form-group col-9">
								<input th:field="*{key}" class="form-control"
									placeholder="Kurzschlüssel" />
							</div>
							<div class="col-3">
								<button type="submit" class="btn btn-primary">Suchen</button>
							</div>
						</div>
					</form>
					<small th:if="${user}" class="form-text text-muted">Den
						Kurzschlüssel erhalten Sie bei Ihrem Kursleiter!</small>
				</div>
			</div>
		</div>
	</div>
	<!-- Button trigger modal -->
	<button type="button" class="btn btn-sm btn-primary"
		data-toggle="modal" data-target="#exampleModalCenter">Impressum</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1"
		role="dialog" aria-labelledby="exampleModalCenterTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-dark" id="exampleModalLongTitle">Impressum</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-dark">
					<p>
						Simons Ludwig Solutions<br> Kirchenstraße 4a<br> 82327
						Tutzing<br>
					<p>Servicetelefon 08158-914 8982
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments :: scripts">
</body>
</html>





