<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid justify-content-center bg-dark text-white">
		<h4 class="display-4">
			Task <i th:text="${task.title} + ' ' + #{verwalten.text}"></i> 
		</h4>
		<div class="row">
			<div class="col-lg-4 text-center">
				<img th:src="'data:image/png;base64,'+${task.base64Image}"
					style="width: 100%;" class="mb-3" />
			</div>
			<div class="col-lg-8">
				<form id="formName" th:action="@{/tasks/{id}/manage(id=${task.id})}"
					th:object="${task}" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<textarea th:field="*{taskShortDescription}" class="form-control"
							th:placeholder="#{kurzbeschreibung.text}" minlength="100" maxlength="200"></textarea>
						<small class="form-text text-muted"> [[#{aussagekreaftigeKURZbeschreibung.text}]] </small>
					</div>

					<div class="form-group">
						<textarea th:field="*{taskLongDescription}" class="form-control"
							th:placeholder="#{langbeschreibung.text}" minlength="200" maxlength="2000"></textarea>
						<small class="form-text text-muted"> [[#{aussagekreaftigeLANGbeschreibung.text}]] </small>
					</div>

					<div class="form-group">
						<label for="selectTaskType">[[#{typAuswaehlen.text}]]</label> <select
							th:field="*{taskType}" class="form-control" id="selectTaskType">
							<option value="DEFAULT">[[#{ohneTyp.text}]]</option>
							<option value="MANDATORY">[[#{pflichtaufgabe.text}]]</option>
							<option value="OPTIONAL">[[#{optionaleAufgabe.text}]]</option>
							<option value="INFO">[[#{nurZurInfo.text}]]</option>
						</select>
					</div>

					<label for="selectImage">[[#{bildAuswaehlen.text}]]</label>
					<div class="form-group" id="selectImage">
						<input type="file" name="imageFile"> <small
							class="form-text text-muted"> [[#{bildGroeße.text}]]</small>
					</div>

					<button type="submit" class="btn btn-primary">[[#{speichern.text}]]</button>
					<a th:href="'/topics/'+${task.topic.uuid}+'/manage'"
						class="btn btn-secondary">[[#{zurueckZumTopic.text}]]</a>
				</form>
			</div>
		</div>

		<h4 class="display-4 mt-4" th:text="#{kommentare.text}"></h4>

		<div class="row row-cols-1">
			<div class="col mb-4">
				<b>[[#{bedeutungFarbe.text}]]</b> <span
					class="text-warning">[[#{nochZuBearbeiten.text}]]</span> <span
					class="text-success">[[#{schonErledigt.text}]]</span>
			</div>
		</div>

		<div class="row row-cols-1">
			<div class="col mb-4" th:each="status : ${statuses}">
				<div class="card bg-dark"
					th:classappend="${status.status.toString()=='FERTIG'} ? border-success : border-warning">
					<div class="card-body">
						<h5 class="card-title" th:text="${status.userName}"></h5>
						<div th:unless="${status.comment.isEmpty()}">
							<p class="card-text" th:text="${status.comment}">.</p>
						</div>
						<div th:if="${status.comment.isEmpty()}">
							<p class="card-text font-italic">[[#{bisherKeinKommentar.text}]]</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>