<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body class="bg-dark">
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid pt-4 pl-5 pr-5 text-white">
		<div class="row justify-content-between">
			<div class="col-auto">
				<h4 class="display-4">Eigene Aufgaben</h4>
				<span th:if="${#lists.size(tasks)==0}">Sie haben keine
					Aufgaben!</span>
			</div>
			<div class="row justify-content-between">
				<form class="form-inline" th:object="${search}"
					th:action="@{/tasks}" method="get">
					<div class="form-check">
						<input type="checkbox" class="form-check-input"
							th:checked="*{onlyNewTasks} ? 'checked'" value="yes"
							name="onlyNewTasks" id="onlyNewTasksID"> <label
							class="form-check-label" for="onlyNewTasksID">nur offene
							Tasks&nbsp;</label>
					</div>
					
					<div class="form-group bg-dark">
						<input th:field="*{search}" class="form-control"
							placeholder="Suchen" />
					</div>
					<button type="submit" class="btn btn-primary">Suchen</button>
					
				
					


				</form>



			</div>
		</div>
		<div class="row row-cols-1 bg-dark">
			<div class="col mb-4" th:each="task : ${tasks}">
				<div class="card bg-dark"
					th:classappend="${task.status.status.toString()=='FERTIG'} ? border-secondary : border-primary">
					<div class="card-body">
						<h5 class="card-title" th:text="${task.title}">Card title</h5>
						<p class="card-text" th:text="${task.taskShortDescription}"></p>

						<form th:unless="${task.status.status.toString()=='FERTIG'}"
							id="formName" th:action="@{/tasks/{id}/check(id=${task.id})}"
							th:object="${task}" method="post">
							<a th:href="'/tasks/'+${task.id}"
								class="btn btn-sm btn-primary mr-2">Öffnen</a>
							<button type="submit" class="btn btn-sm btn-success mr-2">Erledigt</button>
						</form>

						<form th:if="${task.status.status.toString()=='FERTIG'}"
							id="formName" th:action="@{/tasks/{id}/reset(id=${task.id})}"
							th:object="${task}" method="post">
							<a th:href="'/tasks/'+${task.id}"
								class="btn btn-sm btn-primary mr-2">Öffnen</a>
							<button type="submit"
								class="btn btn-sm btn-outline-secondary mr-2">Zurücksetzen</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>


	<th:block th:replace="fragments :: scripts">
</body>
</html>