<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid pt-4 pl-5 pr-5 text-white">

		<div class="row row-cols-1 bg-dark">
			<div class="card" th:classappend="${task.status.status.toString()=='FERTIG'} ? border-secondary : border-primary">
				<div class="card-body bg-dark">
					<h5 class="card-title" th:text="${task.title}">Card title</h5>
					<div th:replace="fragments :: showTaskType"></div>
					<p class="card-text" th:text="${task.taskShortDescription}"></p>
					<p class="card-text" th:text="${task.taskLongDescription}"></p>

					<form id="commentForm"
						  th:action="@{/tasks/{id}/comment(id=${task.id})}"
						  th:object="${status}" method="post">

						<div class="form-group">
						<textarea th:field="*{comment}" class="form-control" rows="4"
								  placeholder="Kommentar" maxlength="500">th:text="${status.comment}</textarea>
							<small class="form-text text-muted"> Kommentar mit bis zu 500 Zeichen! </small>
						</div>

						<button type="submit" class="btn btn-sm btn-success">Kommentar speichern</button>
						<a th:href="'/tasks/'"
						   class="btn btn-sm btn-outline-secondary">zurück zur Taskliste</a>
					</form>
				</div>
			</div>
		</div>

	</div>
	
	<th:block th:replace="fragments :: scripts">
</body>
</html>
