<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body>
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid">
		<div class="row justify-content-center bg-dark text-white">
			<div class="col-12">
				<h4 class="display-4">Neues Topic erstellen</h4>

				<form id="formName" th:action="@{/topics}" th:object="${newTopic}"
					method="post">

					<div class="form-group">
						<input th:field="*{title}" class="form-control"
							placeholder="Titel" minlength="10" maxlength="60" /> <small
							class="form-text text-muted"> Verwenden Sie einen
							aussagekräftigen Titel mit 10 bis 60 Zeichen! </small>
					</div>

					<div class="form-group">
						<textarea th:field="*{shortDescription}" class="form-control"
							placeholder="Kurzbeschreibung" minlength="100" maxlength="200"></textarea>
						<small class="form-text text-muted"> Verwenden Sie eine
							aussagekräftige Kurzbeschreibung mit 100 bis 200 Zeichen! </small>
					</div>

					<div class="form-group">
						<textarea th:field="*{longDescription}" class="form-control"
							placeholder="Langbeschreibung" minlength="200" maxlength="2000"></textarea>
						<small class="form-text text-muted"> Verwenden Sie eine
							aussagekräftige Langbeschreibung mit 200 bis 2000 Zeichen! </small>
					</div>

					<button type="submit" class="btn btn-primary">Erstellen!</button>
					<a href="/topics" class="btn btn-danger">Abbrechen</a>
				</form>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>
