<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body class="bg-dark">
	<nav th:replace="fragments :: navigation"></nav>
	<div class="container-fluid pt-4 pl-5 pr-5 text-white">
		<div class="row justify-content-between">
			<div class="col-auto">
				<h4 class="display-4">
					[[#{eigeneTopics.text}]] <a href="/topics/create"
						class="btn btn-primary">[[#{erstelleTopic.text}]]</a>
				</h4>
				<span th:if="${#lists.size(managedTopics)==0}"
					th:text="#{keinTopicErstellt.text}"></span>
			</div>
			<form class="col-auto" th:object="${search}" th:action="@{/topics}"
				method="get">
				<div class="form-row">
					<div class="form-group col-9">
						<input th:field="*{search}" class="form-control"
							th:placeholder="#{suchen.text}" />
					</div>
					<div class="col-3">
						<button type="submit" class="btn btn-primary">[[#{suchen}]]</button>
					</div>
				</div>
			</form>
		</div>
		
		<hr class="my-4">
		
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 mb-5">
			<div class="col mb-4" th:each="t : ${managedTopics}">
				<div class="card bg-dark border-primary" style="height: 100%;">
					<div class="card-body">
						<h5 class="card-title" th:text="${t.title} +' ('+${t.key}+')'">Card
							title</h5>
						<p class="card-text" th:text="${t.shortDescription}">[[#{keineBeschreibung.text}]]
						</p>
						<div class="mb-1 text-success">
							[[#{anzahlSubscriber.text}]]<i th:text="${t.AmountSubscriber}"></i>
						</div>
						<a th:href="'/topics/'+${t.uuid}+'/manage'"
							class="btn btn-sm btn-primary">[[#{verwaltung.text}]]</a> <a
							th:href="'/topics/'+${t.uuid}+'/subscriberlist'"
							class="btn btn-sm btn-outline-primary">[[#{teilnehmer.text}]]</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-auto align-self-center">
				<div class="display-4" th:text="#{abbonierteTopics.text}"></div>
				<span th:if="${#lists.size(topics)==0}">[[#{keineTopicsAbboniert.text}]]</span>
			</div>
			<div class="col-auto">
				<div th:text="#{direkteinstieg.text}"></div>
				<form th:object="${registration}" th:action="@{/register}"
					method="post">
					<div class="form-row">
						<div class="form-group col-9">
							<input th:field="*{key}" class="form-control"
								th:placeholder="#{kurzschluessel.text}" />
						</div>
						<div class="col-3">
							<button type="submit" class="btn btn-primary">[[#{suchen}]]</button>
						</div>
					</div>
				</form>
				<div>
					<small th:if="${user}" class="form-text text-muted mt-n2"
						th:text="#{kurzschluesselErklaerung.text}"></small>
				</div>
			</div>
		</div>
		
		<hr class="my-4">
		
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
			<div class="col mb-4" th:each="t : ${topics}">
				<div class="card bg-dark border-secondary" style="height: 100%;">
					<div class="card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'Von '+${t.creator.displayName}">Card subtitle</h6>
						<p class="card-text" th:text="${t.shortDescription}">[[#{keineBeschreibung.text}]]
						</p>
						<div class="mb-1 text-warning">
							[[#{offeneTasks.text}]]<i th:text="${t.amountUnfinishedTasks}"></i>
						</div>
						<a th:href="'/topics/'+${t.uuid}"
							class="btn btn-sm btn-primary mr-2">[[#{oeffnen.text}]]</a> <a
							th:href="'/topics/'+${t.uuid}+'/unregister'"
							class="btn btn-sm btn-outline-warning mr-2">[[#{abboEnde.text}]]</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments :: scripts">
</body>
</html>
