<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body class="bg-dark">
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid pt-4 pl-5 pr-5 text-white">
		<div class="row justify-content-center">
			<div class="col-auto">
				<h4 class="display-4"
					th:text="#{aboVon.text}+' '+${topic.title}+' '+#{beendenFRAGE.text}">
				</h4>
				<div class="card bg-dark border-warning">
					<div class="card-body">
						<h5 class="card-title" th:text="${topic.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'Von '+${topic.creator.displayName}">Card subtitle</h6>
						<p class="card-text">[[#{keineBeschreibung.text}]]</p>
						<form id="formName"
							th:action="@{/topics/{uuid}/unregister(uuid=${topic.uuid})}"
							method="post">
							<button type="submit" class="btn btn-sm btn-warning">[[#{aboBeenden.text}]]</button>
							<a href="/topics" class="btn btn-sm btn-secondary">[[#{abbrechen.text}]]</a>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>
