<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body class="bg-dark">
	<nav th:replace="fragments :: navigation"></nav>
	<div class="container-fluid pt-4 pl-5 pr-5 text-white">
		<div class="row justify-content-between">
			<div class="col-auto">
				<h4 class="display-4">
					Eigene Topics <a href="/topics/create" class="btn btn-primary">Topic
						erstellen</a>
				</h4>
				<span th:if="${#lists.size(managedTopics)==0}">Sie haben
					keine Topics erstellt!</span>
			</div>
			<form class="form-inline" th:object="${search}"
				th:action="@{/topics}" method="get">
				<div class="form-group bg-dark">
					<input th:field="*{search}" class="form-control"
						placeholder="Suchen" />
				</div>
				<button type="submit" class="btn btn-primary">Suchen</button>
			</form>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-dark">
			<div class="col mb-4" th:each="t : ${managedTopics}">
				<div class="card bg-dark border-primary">
					<div class="card-body">
						<h5 class="card-title" th:text="${t.title} +' ('+${t.key}+')'">Card
							title</h5>
						<p>
							<small class="card-text" th:text="${t.shortDescription}">Keine
								Beschreibung</small>
						</p>
						<a th:href="'/topics/'+${t.uuid}+'/manage'"
							class="btn btn-sm btn-primary">Verwalten</a> <a
							th:href="'/topics/'+${t.uuid}+'/subscriberlist'"
							class="btn btn-sm btn-outline-primary">Teilnehmer</a> <small>Anzahl
							Subscriber: <i th:text="${t.AmountSubscriber}"></i>
						</small>
					</div>
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-dark">
			<div class="col-auto">
				<h6 class="display-4">Abonnierte Topics</h6>
				<span th:if="${#lists.size(topics)==0}">Sie haben keine
					Topics abonniert!</span>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-dark">
			<div class="col mb-4" th:each="t : ${topics}">
				<div class="card bg-dark border-secondary">
					<div class="card-body">
						<h5 class="card-title" th:text="${t.title}">Card title</h5>
						<h6 class="card-subtitle mb-2 text-muted"
							th:text="'Von '+${t.creator.displayName}">Card subtitle</h6>
						<p>
							<small class="card-text" th:text="${t.shortDescription}">Keine
								Beschreibung</small>
						</p>
						<a th:href="'/topics/'+${t.uuid}"
							class="btn btn-sm btn-primary mr-2">Öffnen</a> <a
							th:href="'/topics/'+${t.uuid}+'/unregister'"
							class="btn btn-sm btn-outline-warning mr-2">Abo beenden</a> <small>Anzahl
							offener Tasks: <i th:text="${t.amountUnfinishedTasks}"></i>
						</small>

					</div>
				</div>
			</div>
		</div>
		<div class="row row-cols-1 row-cols-md-3 bg-dark">
			<div class="col mb-4">
				<div class="card bg-dark border-secondary">
					<div class="card-body">
						<h5 class="card-title">Registrieren</h5>
						<form th:object="${registration}" th:action="@{/register}"
							method="post">
							<h2 class="form-signin-heading">Topic-Suche:</h2>
							<div class="form-row">
								<div class="form-group col-9">
									<input th:field="*{key}" class="form-control"
										placeholder="Kurzschlüssel" />
								</div>
								<div class="col-3">
									<button type="submit" class="btn btn-primary">Suchen</button>
								</div>
							</div>
						</form>
						<small th:if="${user}" class="form-text text-muted">Den
							Kurzschlüssel erhalten Sie bei Ihrem Kursleiter!</small>
					</div>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="fragments :: scripts">
</body>
</html>
