<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head" />
<body class="bg-dark">
	<nav th:replace="fragments :: navigation"></nav>

	<div class="container-fluid pt-4 pl-5 pr-5 text-white">
		<div class="row">
			<div class="col-auto">
				<h4 class="display-4">
					Ihr Topic <i th:text="${topic.title}"></i>
				</h4>
			</div>
			<div class="col-auto justify-content-center">
				<a th:href="'/topics/'+${topic.uuid}+'/createTask'" class="btn btn-primary mb-1">Task erstellen</a>
				<form th:action="'/topics/'+${topic.uuid}+'/delete'" method=post
					th:if="${topic.subscriber.isEmpty()}">
					<button class="btn btn-danger" type=submit>Topic löschen</button>
				</form>
			</div>
		</div>
		<hr class="my-4">
		<div class="row justify-content-center">
			<div class="col-12">
				<form th:action="'/topics/'+${topic.uuid}+'/manage'"
					th:object="${topic}" method="post">

					<div class="form-group">
						<textarea th:field="*{shortDescription}" class="form-control"
							placeholder="Kurzbeschreibung" minlength="100" maxlength="200"></textarea>
						<small class="form-text text-muted"> Verwenden Sie eine
							aussagekräftige Kurzbeschreibung mit 100 bis 200 Zeichen! </small>
					</div>

					<div class="form-group">
						<textarea th:field="*{longDescription}" class="form-control"
							rows="9" placeholder="Langbeschreibung" minlength="200"
							maxlength="2000"></textarea>
						<small class="form-text text-muted"> Verwenden Sie eine aussagekräftige Langbeschreibung mit 200 bis 2000 Zeichen! </small>
					</div>

					<button type="submit" class="btn btn-primary">Speichern</button>
				</form>
			</div>
		</div>
		<hr class="my-4">
		<div class="row row-cols-1">
			<div class="col mb-4" th:each="task : ${tasks}">
				<div class="card bg-dark border-primary">
					<div class="card-body">
						<h5 class="card-title" th:text="${task.title}">Card title</h5>
						<p class="card-text" th:text="${task.taskShortDescription}"></p>
						<form th:action="'/tasks/'+${task.id}+'/delete'" method="post">
							<a th:href="'/tasks/'+${task.id}+'/manage'" class="btn btn-sm btn-primary mr-2">Verwalten</a>
							<button class="btn btn-sm btn-danger mr-2" type="submit">Löschen</button>
							<small>Subscriber haben diesen Task abgeschlossen: <i th:text="${task.amountFinished}"></i></small>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>
