<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body class= "bg-dark text-white">
	<nav th:replace="fragments :: navigation"></nav>
	
	<div class="container-fluid p-3 mb-2">

		<div class="row justify-content-center">
			<div class="col-12">
				<h4 class="display-4">
					[[#{anwender.text}]] <a href="/users/create" class="btn btn-primary">[[#{anwenderAnlegen.text}]]
					</a>
				</h4>

			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-9">
				<table class="table table-dark">
					<thead>
						<tr>
							<th scope="col">[[#{login.text}]]</th>
							<th scope="col">[[#{name.text}]]</th>
							<th scope="col">[[#{topics.text}]]</th>
							<th scope="col">[[#{abos.text}]]</th>
						</tr>
					</thead>
					<tr th:each="user : ${users}">
						<td th:text="${user.login} " />
						<td th:text="${user.name} " />
						<td th:text="${user.topicCount} " />
						<td th:text="${user.subscriptionCount} " />
					</tr>
				</table>
			</div>
		</div>
		
	</div>

	<th:block th:replace="fragments :: scripts">
</body>
</html>

